

.logo-header img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.faq-item {
    margin: 2rem auto;
    max-width: 600px;
}

details {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--color-blue-primary);
    margin-bottom: 1rem;
}

summary {
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    color: black;
    font-size: 16px;
}

summary::-webkit-details-marker {
    display: none;
}

details p {
    margin-top: 1rem;
    font-size: 14px;
}

@media (max-width: 768px) {

    .faq-item {
        margin: 2rem;
    }

    .texto-header h1 {
        font-size: 2rem;
        padding: 1rem;
    }

}