/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-blue-primary);
    min-height: calc(100vh - 80px);

}

.texto-header {
    flex: 1;
    color: var(--color-text-light);
}

.texto-header h1 {
    font-size: var(--font-size-title);
    margin-bottom: 1.5rem;
    line-height: 1.2;
    color: var(--color-text-light);
    font-weight: bold;
}

.texto-header p {
    font-size: var(--font-size-subtitle);
    opacity: 0.9;
    max-width: 90%;
}

.logo-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-card);
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.logo-header img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

/* section como funciona */
.como-funciona {
    min-height: 100vh;
}

.como-funciona h2,
#subtitulo-como-funciona {
    text-align: center;
}

.como-funciona h2 {
    font-size: var(--font-size-title);
}

#subtitulo-como-funciona {
    font-size: var(--font-size-subtitle);
}

/* cards */

.cards-container {
    display: flex;
    gap: 1rem;
    padding: 4rem 0;
}

.card {
    background-color: var(--color-bg-card);
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    padding: 3rem;
}

.card h3 {
    color: var(--color-green-primary);
    font-weight: bold;
    font-size: var(--font-size-title-card);
}

.card p {
    color: var(--color-text-muted);
}

/* section call to action */
.cta-section {
    background: linear-gradient(-135deg, var(--color-blue-primary), var(--color-green-primary));
    color: var(--color-text-light);
    text-align: center;
    padding: 5rem 2rem;
    min-height: 100vh;
}

.cta-section h2 {
    font-size: var(--font-size-title);
    margin-bottom: 1rem;
    color: var(--color-text-light);
}

.cta-section p {
    font-size: var(--font-size-subtitle);
    line-height: 1.6;
    opacity: 0.9;
    max-width: 650px;
    margin: 0 auto 2.5rem auto;
}

/* section dashboard simulacao */

.deashboard-simulacao-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-text,
.dashboard-card {
    width: 45%;
}

.dashboard-text h2 {
    font-size: var(--font-size-title);
    margin-bottom: 1.5rem;
}

.dashboard-text p {
    color: var(--color-text-muted);
    font-size: var(--font-size-subtitle);
    line-height: 1.7;
    margin-bottom: 2rem;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: linear-gradient(-145deg, var(--color-blue-primary), var(--color-green-primary));
    padding: 2rem;
    border-radius: 28px;
    box-shadow: 0 25px 55px rgba(30, 136, 229, 0.25);
}

.saldo-card,
.voucher-card,
.impacto-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-card);
    padding: 1.5rem;
    border-radius: 22px;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
    transition: 0.3s ease;
    gap: 0.5rem;
}

.saldo-card:hover,
.voucher-card:hover,
.impacto-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.saldo-card p,
.voucher-card p,
.impacto-card p {
    font-size: var(--font-size-subtitle);
}

.bold-dashboard-card {
    font-weight: bold;
    font-size: 2rem !important;
}

.voucher-card span {
    /* perguntei pro gpt como uso esse background-color com a variavel --color-blue-primary só que mais clarinha
    me seugeriu que usasse color-mix */
    background-color: color-mix(in srgb, var(--color-blue-primary) 18%, white);
    width: fit-content;
    color: var(--color-blue-primary);
    padding: 0.4rem 0.8rem;
    border-radius: 50px;
    font-weight: bold;
    font-size: var(--font-size-subtitle);
}