/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

/* VARIÁVEIS DE TEMA (:root) */
:root {
    /* Paleta de Cores Primárias */
    --color-green-light: #8cc63f;
    --color-green-primary: #4ab24a;
    --color-blue-primary: #1e88e5;
    --color-blue-dark: #1565c0;

    /* Cores de Fundo */
    --color-bg-main: #f8f9fa;
    /* Fundo geral da página */
    --color-bg-card: #ffffff;
    /* Fundo para cards */
    --color-bg-dark: #121212;
    --color-card-soft: #eef8e6;
    /* Fundo para footer */

    /* Cores de Texto */
    --color-text-main: #333333;
    /* Texto principal */
    --color-text-muted: #666666;
    /* Texto secundário */
    --color-text-light: #ffffff;
    /* Texto sobre fundos escuros */

    /* Cores de Feedback / Ações */
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;

    /* Tipografia */
    --font-text: 'Inter', sans-serif;
    /* Para parágrafos e textos gerais */
    --font-title: 'Poppins', sans-serif;
    /* Para títulos e destaques */
    --font-size-base: 20px;
    --font-size-title: 3rem;
    --font-size-subtitle: 1.1rem;
    --font-size-title-card: 2rem;
}

body {
    /* Aplicando a fonte Inter no site inteiro por padrão */
    font-family: var(--font-text);
    font-size: var(--font-size-base);
    color: var(--color-text-main);
    background-color: var(--color-bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* aplicando a fonte Poppins somente nos títulos */
    font-family: var(--font-title);
    color: var(--color-text-main);
    font-weight: 600;
    margin-bottom: 1rem;
}

/* padding dos sections, header, etc */
header,
section {
    padding: 4rem 10rem;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10rem;
    width: 100%;
    background-color: var(--color-blue-primary);
    position: relative;
}

/* logo na navbar */
.logo img {
    height: auto;
    max-height: 80px;
}

/* links de navegacao entre paginas */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 16px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-text-light);
    transition: 0.3s ease;
    opacity: 0.7;
}

a:hover {
    opacity: 1;
}

#active_link {
    text-decoration: underline;
    text-decoration-color: var(--color-text-light);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    opacity: 1;
}

/* botoes navbar */
.nav-buttons {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease
}

.btn-branco {
    background-color: var(--color-text-light);
    color: var(--color-blue-primary);
    border: 1px solid var(--color-text-light);
}

.btn-branco:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.btn-azul {
    background-color: var(--color-blue-primary);
    color: var(--color-text-light);
    border: 1px solid var(--color-blue-primary);
}

.btn-azul:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.btn-vazado {
    background-color: transparent;
    color: var(--color-text-light);
    border: 1px solid var(--color-text-light);
}

.btn-vazado:hover {
    background-color: var(--color-text-light);
    color: var(--color-blue-primary);
    transform: translateY(-1px);
}

.menu-hamburguer {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-text-light);
    font-size: 2rem;
    padding: 0;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, var(--color-blue-primary), var(--color-green-primary));
    min-height: calc(100vh - 80px);

}

.texto-header {
    flex: 1;
    color: var(--color-text-light);
}


.texto-header h1 {
    font-size: var(--font-size-title);
    margin-bottom: 1.5rem;
    color: var(--color-text-light);
    font-weight: bold;
}

.texto-header p {
    font-size: var(--font-size-subtitle);
    opacity: 0.9;
    max-width: 90%;
}

.logo-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-card);
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.logo-header img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

/* footer */

footer {
    background-color: #000;
    color: var(--color-text-light);
    padding: 3rem 3rem 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer-links h4 {
    color: var(--color-text-light);
    font-weight: bold;
}

.footer-ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-weight: 500;
    font-size: 16px;
}

.footer-ul a {

    text-decoration: none;
    color: var(--color-text-light);
    transition: 0.3s ease;
    opacity: 0.7;

}

.footer-ul a:hover {
    opacity: 1;
}

#active_link_footer {
    text-decoration: underline;
    text-decoration-color: var(--color-text-light);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    opacity: 1;
}

.footer-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.footer-info img {
    max-height: 80px;
}

footer hr {
    margin: 2rem 0;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
}

.caixa-destacada {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem;
    font-size: small;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.4);
    border-style: solid;
    border-width: 1px;
}

.mb-1 {
    margin-bottom: 1rem;
}

.texto-vermelho {
    color: var(--color-danger);
}


/* RESPONSIVIDADE GERAL */

/* Notebook menor */
@media (max-width: 1200px) {
    :root {
        --font-size-base: 18px;
        --font-size-title: 2.4rem;
        --font-size-title-card: 1.8rem;
    }

    header,
    section {
        padding: 4rem 4rem;
    }

    nav {
        padding: 1.5rem 4rem;
    }

    .nav-links {
        gap: 1.5rem;
        font-size: 14px;
    }

    .logo img {
        max-height: 65px;
    }

    .nav-buttons {
        gap: 0.5rem;
    }

    button {
        padding: 0.65rem 1.1rem;
        font-size: 0.9rem;
    }

    .logo-header {
        padding: 3rem;
    }

    .logo-header img {
        max-width: 300px;
    }
}

/* Tablet */
@media (max-width: 900px) {
    :root {
        --font-size-base: 17px;
        --font-size-title: 2.2rem;
        --font-size-subtitle: 1rem;
        --font-size-title-card: 1.7rem;
    }

    nav {
        padding: 1.2rem 2rem;
        justify-content: space-between;
    }

    .nav-links {
        position: relative;
        left: 0;
        transform: translateX(0);
        top: 0;
        transform: translate(0);
        font-weight: 500;
        font-size: 16px;
    }

    .nav-buttons {
        display: none;
    }

    header {
        flex-direction: column;
        text-align: center;
        gap: 2.5rem;
        min-height: auto;
        padding: 4rem 2rem;
    }

    .texto-header p {
        max-width: 100%;
    }

    .logo-header {
        width: 100%;
        max-width: 480px;
        padding: 2.5rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .footer-ul {
        flex-wrap: wrap;
        gap: 1.2rem;
    }
}

/* Celular */
@media (max-width: 600px) {
    :root {
        --font-size-base: 16px;
        --font-size-title: 2rem;
        --font-size-subtitle: 1rem;
        --font-size-title-card: 1.6rem;
    }

    header,
    section {
        padding: 3rem 1.5rem;
    }

    nav {
        padding: 1rem 1.5rem;
    }

    .logo img {
        max-height: 50px;
    }

    .menu-hamburguer {
        display: block;
    }

    /* pesquisa para saber como faz animacaozinha de menu "crescendo"  */
    .nav-links {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        transform: none;
        width: 100%;
        background-color: var(--color-blue-primary);
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        z-index: 10;

        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;

        transition: max-height 0.35s ease, opacity 0.25s ease, padding 0.3s ease;
    }

    .nav-links.active {
        max-height: 320px;
        opacity: 1;
        padding: 1.5rem 0;
    }

    .texto-header h1 {
        line-height: 1.15;
    }

    .logo-header {
        padding: 2rem;
    }

    .logo-header img {
        max-width: 240px;
    }

    footer {
        padding: 3rem 1.5rem 1rem;
    }

    .footer-ul {
        flex-direction: column;
        gap: 0.8rem;
    }

    .footer-info {
        margin: 0 auto;
        text-align: center;
    }

    .footer-info img {
        max-height: 60px;
    }
}